<?xml version="1.0"?>
<config>
    <modules>
        <Aurora_Deletecustomer>
            <version>1.2.0</version>
        </Aurora_Deletecustomer>
    </modules>   
    <frontend>
	    <secure_url><deletecustomer>/deletecustomer/index/</deletecustomer></secure_url>
        <routers>
            <deletecustomer>
                <use>standard</use>
                <args>
                    <module>Aurora_Deletecustomer</module>
                    <frontName>deletecustomer</frontName>
                </args>
            </deletecustomer>
        </routers>   
        <layout>
            <updates>
                <deletecustomer>
                    <file>deletecustomer.xml</file>
                </deletecustomer>
            </updates>
        </layout>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Aurora_Deletecustomer.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </frontend>  
    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<deletecustomer before="Mage_Adminhtml">Aurora_Deletecustomer_Adminhtml</deletecustomer>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <deletecustomer>
                    <file>deletecustomer.xml</file>
                </deletecustomer>
            </updates>
        </layout>
        <translate>
            <modules>
                <Aurora_Deletecustomer>
                    <files>
                        <default>Aurora_Deletecustomer.csv</default>
                    </files>
                </Aurora_Deletecustomer>
            </modules>
        </translate>
    </adminhtml>
    <global>   
        <template>
            <email>
                <deletecustomer_email_template translate="label" module="deletecustomer">
                    <label>Delete Customer Account Confirmation</label>
                    <file>deletecustomer_template.html</file>
                    <type>html</type>
                </deletecustomer_email_template>                
            </email>
        </template>
        <blocks>            
            <deletecustomer>
                <class>Aurora_Deletecustomer_Block</class>
            </deletecustomer>
        </blocks>
        <helpers>
            <deletecustomer>
                <class>Aurora_Deletecustomer_Helper</class>
            </deletecustomer>
        </helpers>
    </global>
</config>
